:root {
  --body-background-color: #000000;   /* Black */
  --body-text-color: #ffffff;         /* White */
  --card-background-color: #808080;   /* Grey */
  --nav-background-color: #808080;    /* Grey */
  --nav-border-bottom-color: #FFFF00; /* Yellow */
}
