:root {
  --body-background-color: #f0f0f0;   /* Light Grey (almost white) */
  --body-text-color: #000000;         /* Black */
  --card-background-color: #555555;   /* Dark Grey for the card background */
  --nav-background-color: #808080;    /* Grey for the navigation background */
  --nav-border-bottom-color: #FFFF00; /* Yellow */
}
