:root {
  --body-background-color: #00A859;   /* MTN Green */
  --body-text-color: #FFCB05;        /* MTN Yellow */
  --card-background-color: #004080;  /* MTN Blue */
  --nav-background-color: #004080;   /* MTN Blue */
  --nav-border-bottom-color: #F68D2E; /* MTN Orange */
}
